/* CustomerReports.css */
.custom-thead {
  background-color: #0099dd !important;
  color: white !important;
}

.custom-thead th {
  cursor: pointer;
  user-select: none;
}

.company-table-box {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}
